language: java
matrix:
  include:
    - os: linux
      jdk: oraclejdk8
    - os: linux
      jdk: oraclejdk11
    - os: linux
      jdk: openjdk12
    - os: osx
      #oraclejdk8
      osx_image: xcode9.3 
install: true
script: mvn install -P skip-online-tests
cache:
  directories:
  - $HOME/.m2
notifications:
  email:
    recipients:
      - nkr@niklaskr.dk
    on_success: never
    on_failure: always