<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<profiles>
		<profile>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<upload.url>${ftp.host}</upload.url>
				<upload.program.file>${ftp.file}</upload.program.file>
				<upload.program.delete>${ftp.delete}</upload.program.delete>
		</properties>
		</profile>
	</profiles>
	<servers>
		<server>
			<configuration>
				<knownHostsProvider implementation="org.apache.maven.wagon.providers.ssh.knownhost.NullKnownHostProvider">
					<hostKeyChecking>no</hostKeyChecking>
				</knownHostsProvider>
			</configuration>
			<id>eve-nikr-net</id>
			<username>${ftp.user}</username>
			<password>${ftp.pass}</password>
		</server>
	</servers>
</settings>